#container {
  width: 65%;
  /* background-color: rgb(228, 235, 238); */
  /* border: 1px solid grey; */
  /* height: 100px; */
  margin: 0 auto;
  flex-wrap: wrap;
}
h1 a {
  font-size: 40px;
  font-weight: 100px;
  color: rgb(94, 94, 190);
  text-decoration: none;
}
#header {
  /* height: 200px; */
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
#brand {
  /* float: left; */
  flex: 50%;
  min-width: 600px;
}
#searchbox {
  /* float: right; */
  flex: 50%;
  background: linear-gradient(lightblue, white);
  min-width: 400px;
  /* height: 50px; */
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  float: left;
  width: 240px;
  padding: 5px;
  font-size: 15px;
  color: blue;
}
.submit {
  padding: 5px;
  font-size: 15px;
  background: blue;
  font-weight: bold;
  color: white;
}
.clear {
  clear: both;
}
#menu {
  /* height: 70px; */
  background: linear-gradient(lightblue, rgb(113, 113, 153));
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
#menu a {
  /* float: left; */
  padding: 0 30px;
  height: 30px;
  border-right: 1px solid blueviolet;
}
/* #menu ul li:last-child {
  border-right: none;
} */
/* small screen vertical menu */
@media screen and (max-width: 700px) {
  #menu {
    flex-direction: column;
    align-content: center;
  }
  #menu a {
    border-right: none;
  }
}
#menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  color: blueviolet;
  line-height: 30px;
  transition: font-size 0.3s ease;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
  -ms-transition: font-size 0.3s ease;
}
#menu a:hover,
#menu a.active {
  font-size: 20px;
  font-weight: bold;
  color: rgb(98, 73, 143);
}
#introduction {
  background: linear-gradient(lightgreen, white);
  padding: 30px;
  margin: 15px 0;
}
#introduction h3 {
  font-size: 40px;
  color: rgb(153, 197, 238);
  font-weight: normal;
}
#introduction p {
  font-size: 20px;
  color: rgb(158, 191, 235);
  font-weight: normal;
  text-align: justify;
}
.sidebars {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.sidebarwrapper {
  flex: 50%;
  padding: 10px;
}
.sidebar {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 10px 30px;
  /* flex: 50%; */
}
.sidebar h3 {
  color: blueviolet;
  font-size: 30px;
}
.sidebar ul li a {
  text-decoration: none;
  font-size: 20px;
  color: blueviolet;
  transition: font-size 0.3s ease;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
  -ms-transition: font-size 0.3s ease;
}
#leftsidebar ul li {
  padding-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  text-decoration: none;
  color: blueviolet;
  font-size: 23px;
  font-weight: bold;
}
#leftsidebar {
  /* float: left; */
  border: 1px solid blueviolet;
}
#rightsidebar {
  /* float: right; */
  border: 1px solid blueviolet;
}
#rigthsidebar ul li {
  padding-bottom: 20px;
}
.far {
  font-size: 24px;
  padding-right: 10px;
  color: blueviolet;
}
.fa {
  padding-right: 10px;
  font-size: 24px;
  color: lightgreen;
}
.footer {
  height: 60px;
  background: linear-gradient(lightblue, rgb(113, 113, 153));
  padding: 10px 30px;
  margin-top: 30px;
}
body {
  font: Arial, helvetica, sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
